html,body,main{
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main.toppage{
  width: 100vw;
  height: 100vh;
  background-image: url("../img/img1.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
